/* GLOBAL CSS FOR EVERY DESKTOP PAGE */



nav > ul > li{
    position: relative;
    width: 100%;
}

nav ul ul{
    position: absolute;
    display: block;
    background-color: #161616;
    border-radius: 0.5em;
    color: orange;
    width: 100%;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    
}
nav > ul > li:hover ul{
    opacity: 1;
    pointer-events: auto;
}

nav ul ul li:hover{
    color: white;
}



body {
    background: #222;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer "
    ;

    background-color: red;
}
/* GLOBAL CSS FOR EVERY DESKTOP PAGE END */


/* CONTENT FROM THE INDEX PAGE START*/
.IndexContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.IndexItem-1{
    width: 30%;
    height: 30%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;
    
    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;

    font-weight: 500;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;

    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
        "description UON"
        "description2 UON"
        "description3 UON"

    ;

    
}

.Hey {
    font-size: 30px;
    color: orange;
    grid-area: description;
}

.Taylor {
    font-size: 45px;
    color: white;
    grid-area: description2;
}

.Resume {
    font-size: 15px;
    color: orange;
    grid-area: description3;
}

.UON{
    width: 100%;
    height: 60%;
    grid-area: UON;
    border-radius: 5em;
}


.IndexItem-2{
    width: 25%    ;
    height: 60%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 1em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}



.AboutMeTitle {
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;

}

.AboutMe{
    color: white;
    font-size: 16px; 
    text-align: center;
    margin-top: 10px;

}

/* INDEX PAGE END */


/* PROJECT PAGE START */





.ProjectContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
   
    
}







.ProjectBox{

    
    

   


    width: 40%    ;
    height: 70%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
   
    
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "Title Title Title Title"
        "Image Image Description Description"
        "Image Image Description Description"


}





.ProjectTitle{
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
    grid-area: Title;
    
}

.ProjectDesc{
    color: white;
    font-size: 16px; 
    text-align: center;
    margin-top: 10px;
    grid-area: Description;
}



.Placeholder{

    border-radius: 5em;
    
    height: 80%;
    width: 80%;
    grid-area: Image;

    
}



/* PROJECT PAGE END */

/* CONTACT PAGE START */



.ContactContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
   
    
}







.ContactBox{

    
    

   


    width: 40%    ;
    height: 70%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
    
   


}





.ContactUsTitle{
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
    
    
}


form{
    display: flex;
    /* display: grid;
    grid-template-columns: 100%; */
    align-items: center;
    row-gap: 1em;
    width: 100%;
    flex-direction: column;
    margin-top: 5em;
}

form input{
    height: 2em;
    width: 50%;
    border-radius: 1em;
    font-size: 20px;
}
form textarea {
    width: 50%;
    border-radius: 1em;
    font-size: 20px;
    resize: none;
}

/* input[type="submit"]{
    grid-column: 2;
}
 */