/* GLOBAL CSS FOR EVERY DESKTOP PAGE */

* {
    margin: 0;
    padding: 0;
}





header {
    color: orange;
    background: #222;
    padding: 1.5em;
    margin: 0;
    align-self: center;
    justify-content: space-around;
    
    font-size: 1.1em;

}

nav {
    background: #222;
    grid-area: nav;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2em;
    margin: 0;
    align-self: center;
    font-weight: bold;
    font-size: 1.1em;
    
}

a:link {
    text-decoration: none;
    color: orange;
}

a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}



main{
    grid-area: main;
    background-image: url(./images/planets.jpg);
    background-size: cover;
    background-position: center;
    height:  52em;
    width: 100%;
}


/* main {
    background-color: #222;
    color: white;
    grid-area: main;
    
} */


/* aside {
    background-color: lightgreen;
    grid-area: aside;
} */

footer {
    background-color: #222;
    color: orange;
    grid-area: footer;
    height: 2em;
    margin: 0.1em;
    padding-top: 0.5em;
}

body {
    background: #222;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav"
        "main main"
        "footer footer "
    ;
}
/* GLOBAL CSS FOR EVERY DESKTOP PAGE END */


/* CONTENT FROM THE INDEX PAGE START*/
.IndexContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.IndexItem-1{
    width: 30%;
    height: 30%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;
    
    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;

    font-weight: 500;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;

    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
        "description UON"
        "description2 UON"
        "description3 UON"

    ;

    
}

.Hey {
    font-size: 30px;
    color: orange;
    grid-area: description;
}

.Taylor {
    font-size: 45px;
    color: white;
    grid-area: description2;
}

.Resume {
    font-size: 15px;
    color: orange;
    grid-area: description3;
}

.UON{
    float: right;
    border-radius: 5em;
    
    height: 80%;
    width: 95%;
    grid-area: UON;
    
}



.IndexItem-2{
    width: 25%    ;
    height: 60%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 1em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    
    
}



.AboutMeTitle {
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;

}

.AboutMe{
    color: white;
    font-size: 16px; 
    text-align: center;
    margin-top: 10px;

}

/* INDEX PAGE END */


/* PROJECT PAGE START */





.ProjectContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
   
    
}







.ProjectBox-1{

    
    

   


    width: 40%    ;
    height: 70%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
   
    
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "Title Title Title Title"
        "Image Image Description Description"
        "Image Image Description Description"


}





.ProjectTitle-1 {
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
    grid-area: Title;
    
}

.ProjectDesc-1{
    color: white;
    font-size: 16px; 
    text-align: center;
    margin-top: 10px;
    grid-area: Description;
}



.Placeholder{

    border-radius: 5em;
    
    height: 90%;
    width: 90%;
    grid-area: Image;

    
}



.ProjectBox-2{
    width: 40%    ;
    height: 70%;

    border-radius: 3em;
    box-shadow: 1em 1em #141414;

    background-color: #222;
    opacity: 0.95;

    padding: 2em;
    align-self: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
   
    
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "Title Title Title Title"
        "Image Image Description Description"
        "Image Image Description Description"



    
}


.ProjectTitle-2 {
    
    color: orange;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px;
    grid-area: Title;

}

.ProjectDesc-2{
    color: white;
    font-size: 16px; 
    text-align: center;
    margin-top: 10px;
    grid-area: Description;
}

